
{% extends 'base.html' %}
{% block content %}




<div class="container">
<h1>{{title}}</h1>
    {% if messages %}
    <ul class="messages">
     {% for message in messages %}
        <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
         {{ message }}
        </div>
        </div>
     {% endfor %}
    </ul>
    {% else %}
    
  <div class="row">
    <div class="col-sm-6 col-12">
    <hr>
    <h3>{{content}}<h3>
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
